-
    inputOrderName  = {
        type: 'text',
        id: 'field-order-name',
        className: 'field field__ordername',
        fieldName:'field-order-name',
        placeholder: ' '
    }

-
    inputOrderPhone  = {
        type: 'text',
        id: 'field-order-phone',
        className: 'field field__orderphone',
        fieldName:'field-order-phone',
        placeholder: ' '
    }

-
    inputOrderAddress  = {
        type: 'text',
        id: 'field-order-address',
        className: 'field field__orderaddress',
        fieldName:'field-order-address',
        placeholder: ' '
    }

-
    orderFieldChecbox  = {
        type: 'checkbox',
        id: 'order-agreement',
        className: 'field__checkbox',
        fieldName:'order-agreement',
        checked: true
    }


-
    btnOrder = {
        type: 'submit',
        className: 'btn btn--white',
        fieldName:'sendOrder',
        label: 'Оформить заказ'
    }