-
    btnWS = {
        type: 'link',
        className: 'btn btn--red',
        fieldName:'ws',
        btnUrl: "##",
        label: 'Написать в WhatsApp',
        icn: './img/svg/icn-ws.svg'
    }

-
    btnTG = {
        type: 'link',
        className: 'btn btn--red',
        fieldName:'tg',
        btnUrl: "##",
        label: 'Написать в Telegram',
        icn: './img/svg/icn-tg.svg'
    }

-
    btnSend = {
        type: 'submit',
        className: 'btn btn--white',
        fieldName:'send',
        label: 'Отправить'
    }




-
    inputName  = {
        type: 'text',
        id: 'field-name',
        className: 'field field__name',
        fieldName:'field-name',
        placeholder: ' '
    }

-
    inputMail  = {
        type: 'text',
        id: 'field-mail',
        className: 'field field__mail',
        fieldName:'field-mail',
        placeholder: ' '
    }

-
    fieldChecbox  = {
        type: 'checkbox',
        id: 'agreement',
        className: 'field__checkbox',
        fieldName:'agreement',
        checked: true
    }

-
    textarea  = {
        id: 'field-text',
        className: 'field__text',
        fieldName:'field-text',
        name: 'field-text',
        placeholder: 'Ваш вопрос...'
    }