
//transition
tr(prop=all, duration=300ms)
    transition prop duration ease



fit(fit=cover, position=center)
    width 100%
    min-height 100vh
    object-fit cover
    object-position center