-
    let dietList = [
        {
            img: 'img/svg/icn-diet-list-1.svg',
            imgAlt: 'Мясо',
            text: 'Мясо – 70%'
        },
        {
            img: 'img/svg/icn-diet-list-2.svg',
            imgAlt: 'Субпродукты',
            text: 'Субпродукты – 5%'
        },
        {
            img: 'img/svg/icn-diet-list-3.svg',
            imgAlt: 'Кости',
            text: 'Кости – 10%'
        },
        {
            img: 'img/svg/icn-diet-list-4.svg',
            imgAlt: 'Семена/Орехи',
            text: 'Семена/Орехи – 2%'
        },
        {
            img: 'img/svg/icn-diet-list-5.svg',
            imgAlt: 'Овощи',
            text: 'Овощи – 7%'
        },
        {
            img: 'img/svg/icn-diet-list-6.svg',
            imgAlt: 'Фрукты',
            text: 'Фрукты – 1%'
        },
        {
            img: 'img/svg/icn-diet-list-7.svg',
            imgAlt: 'Печень',
            text: 'Печень – 5%'
        },
    ]



-
    let dietList2 = [
        {
            img: 'img/svg/icn-diet-list-1.svg',
            imgAlt: 'Мясо',
            text: 'Мясо – 58%'
        },
        {
            img: 'img/svg/icn-diet-list-2.svg',
            imgAlt: 'Субпродукты',
            text: 'Субпродукты – 7%'
        },
        {
            img: 'img/svg/icn-diet-list-3.svg',
            imgAlt: 'Кости',
            text: 'Кости – 17%'
        },
        {
            img: 'img/svg/icn-diet-list-4.svg',
            imgAlt: 'Семена/Орехи',
            text: 'Семена/Орехи – 3%'
        },
        {
            img: 'img/svg/icn-diet-list-5.svg',
            imgAlt: 'Овощи',
            text: 'Овощи – 7%'
        },
        {
            img: 'img/svg/icn-diet-list-6.svg',
            imgAlt: 'Фрукты',
            text: 'Фрукты – 1%'
        },
        {
            img: 'img/svg/icn-diet-list-7.svg',
            imgAlt: 'Печень',
            text: 'Печень – 7%'
        },
    ]