include var-calculation-popup


.popup.popup__calculation
    .popup__close
    .popup__dialog
        h2 Рассчет рациона
        .popup__desc!= 'Заполните информацию и мы свяжемся с вами, чтобы подсказать с подбором рациона для вашего хвостика. Или напишите нам в мессендерах <a href="##">WhatsApp</a> и <a href="##">Telegram</a>.'
        include ./../../form-calculation/form-calculation