-
    fieldRadioAdult  = {
        type: 'radio',
        id: 'adult-dog',
        className: 'field__radio',
        fieldName:'age-dog',
        checked: true
    }


-
    fieldRadioPuppy  = {
        type: 'radio',
        id: 'puppy',
        className: 'field__radio',
        fieldName:'age-dog'
    }


-
    inputWeight  = {
        type: 'text',
        id: 'field-weight',
        className: 'field field__weight',
        fieldName:'field-weight',
        placeholder: ' '
    }


-
    inputAge  = {
        type: 'text',
        id: 'field-age',
        className: 'field field__age',
        fieldName:'field-age',
        placeholder: ' '
    }


-
    inputYourname  = {
        type: 'text',
        id: 'field-yourname',
        className: 'field field__yourname',
        fieldName:'field-yourname',
        placeholder: ' '
    }


-
    inputPhone  = {
        type: 'text',
        id: 'field-phone',
        className: 'field field__phone',
        fieldName:'field-phone',
        placeholder: ' '
    }



-
    calcTextarea  = {
        id: 'calc-text',
        className: 'field__text',
        fieldName:'field-calc-text',
        placeholder: 'Если у вашего хвостика есть особенности здоровья – напишите об этом...'
    }


-
    calcFieldChecbox  = {
        type: 'checkbox',
        id: 'calc-agreement',
        className: 'field__checkbox',
        fieldName:'calc-agreement',
        checked: true
    }


-
    btnCalc = {
        type: 'submit',
        className: 'btn btn--red',
        fieldName:'send',
        label: 'Расчитать'
    }