include var-getzoo-section
include ./../../mixins/m-step-list/m-step-list


section.section-full.section-full__getzoo.js-scroll
    .box-center
        h2 Как получить ZOOOV?
        +stepList(getzoo)