-
    let getzoo = [
        {
            icn: './img/svg/icn-pack.svg',
            icnAlt: 'Закажите рацион',
            title: 'Закажите рацион',
            desc: 'Выберите рацион для своей собаки. Если не знаете сколько и какой – <span class="js-calc">мы подскажем</span>.',
        },
        {
            icn: './img/svg/icn-phone.svg',
            icnAlst: 'Подтвердите заказ',
            title: 'Подтвердите заказ',
            desc: 'Мы свяжемся с вами для подтверждения заказа и уточнения деталей.',
        },
        {
            icn: './img/svg/icn-clock.svg',
            icnAlst: 'Ожидайте доставки',
            title: 'Ожидайте доставки',
            desc: 'Привозим заказ на следующий день. По СПб – 350₽, при заказе от 3 500₽ – бесплатно. Лен. область – по договоренности.',
        },
        {
            icn: './img/svg/icn-heart2.svg',
            icnAlst: 'Радуйте своего питомца',
            title: 'Радуйте своего питомца',
            desc: 'Просто разморозьте рацион: при комнатной температуре – 3 часа, в холодильнике – 12-15 часов.',
        },
    ]