section.section-full.section-full__barf
    .box-center
        .section-full__columns
            .section-full__column
                h2.js-scroll Что такое BARF
                .section-full__column-desk.js-scroll BARF (Biologically Appropriate Raw Food) — система питания собак, основанная на сырых натуральных продуктах. Такой рацион максимально приближен к естественному пищевому поведению хищников, а значит биологически правилен.
                h4.js-scroll После перехода на питание по системе BARF у собак:
                ul.section-full__list.js-scroll
                    li.section-full__list-item Нормализуется пищеварение
                    li.section-full__list-item Проходят аллергические реакции
                    li.section-full__list-item Прекращается образование зубного камня
                    li.section-full__list-item Появляется больше энергии
                    li.section-full__list-item Увеличивается продолжительность жизни
            .section-full__column.js-scroll
                picture
                    source(srcset="./img/barf.webp", type="image/webp")
                    img(src="./img/barf.jpg", alt="Buff")

        include ./../diet-list/diet-list