section.section-full.section-full__lovezoo
    .box-center
        .section-full__columns
            .section-full__column
                .section-full__collage
                    .section-full__collage-item
                        img(src="./img/img-collage-1.jpg", alt="")
                    .section-full__collage-item
                        img(src="./img/img-collage-2.jpg", alt="")
                    .section-full__collage-icons
                        .section-full__collage-icon
                            img(src="./img/head-dog.png", alt="")
                        .section-full__collage-icon
                            img(src="./img/heart.png", alt="")
            .section-full__column
                h2 С заботой и любовь от Zooov
                p Мы сами владельцы собак и знаем, как важно правильное и качественное питание для долгой и счастливой жизни вашего питомца. Для нас ZOOOV это не просто бизнес, это наш вклад в повышение качества жизни всех собак.
                p Мы знаем, как правильно подобрать и переработать мясо, субпродукты, овощи и фрукты, чтобы питание вашего питомца было максимально сбалансированным и полезным.
                p Обычного сырого мяса из магазина будет недостаточно для полноценного питания собаки. ZOOOV — экономия времени, вам не придется искать необходимые составляющие для рациона.
                p Мы сами отбираем мясо, кости, легкие, печень и другие говяжьи, кроличьи и птичьи субпродукты у проверенных поставщиков. Закупаем органические овощи и используем разнообразные масла, такие как конопляное и льняное.
                p ZOOOV — это удобно, мы доставляем готовый рацион на две недели уже смешанным, расфасованным и упакованным в порционные лотки,готовыми к заморозке. За два часа до кормления достаточно переместить контейнер из морозилки в холодильник для ПРАВИЛЬНОЙ разморозки.