include var-first-section


section.section-full.section-full__start.js-scroll
    picture
        source(srcset="./img/first-section-bg@2x.webp", type="image/webp")
        img(src="./img/first-section-bg@2x.jpg", alt="Любимое питтание")
    .box-center
        .section-full__start-content
            h1!='<strong>Питание, которое</strong> '
                span полюбит
                    include ./../../../img/svg/ellipse.svg
                strong ваш хвостик
            .section-full__start-desc Натуральные рационы питания для собак по системе BARF
            +button(btnConfig)