
//button params
-
    let btnConfig = {
        type: 'link',
        id: 'diet',
        className: 'btn btn--red',
        fieldName:'diet',
        btnUrl: "##",
        label: 'Выбрать рацион'
    }