.popup.popup__thanksorder
    .popup__close
    .popup__dialog
        .popup__column
            img(src="./img/food-list-1.jpg", alt="")
        .popup__column
            h2 Спасибо!
            .popup__desc
                p Ваш заказ оформлен и передан менеджеру. Мы свяжемся с вами для уточнения и подтверждения в ближайшее время.
                p Если вы захотите дополнить свой заказ или уточнить какие-то детали – вы сможете это сделать у оператора.