.form-calculation
    .btn
        margin-top 24px
        width 100%

    .field

        &-line
            &__radio
                margin-bottom 28px

                &:first-child
                    margin-bottom 12px

        &__text
            margin 16px 0 40px
            height 97px
            color $black
            background-color $grey

            @media(max-width 767px)
                margin-bottom 16px

            &::-webkit-input-placeholder
                color #000
                opacity .4

            &::-moz-placeholder
                color #000
                opacity .4

            &:-moz-placeholder
                color #000
                opacity .4

            &:-ms-input-placeholder
                color #000
                opacity .4

            &:focus::-webkit-input-placeholder
                color transparent

            &:focus::-moz-placeholder
                color transparent

            &:focus:-moz-placeholder
                color transparent

            &:focus:-ms-input-placeholder
                color transparent