.popup
    &__thankscontact
        max-width 460px
        height auto

        h2
        .popup__desc
            text-align center

        .popup
            &__dialog
                padding 70px 40px

            &__desc
                margin 0
                font-size 15px
                color $black
