// @require './../../includes/core/color-vars'

// @require './../../includes/core/reset'
// @require './../../includes/core/core'

@require './../../includes/core/color-vars'
@require './../../includes/core/mixins.styl'

@require './../../includes/core/reset'
@require './../../includes/core/core'

@require './../../includes/mixins/form-elements/m-button/m-button'
@require './../../includes/mixins/form-elements/m-input-text/m-input-text'
@require './../../includes/mixins/form-elements/m-input-checkbox/m-input-checkbox'
@require './../../includes/mixins/form-elements/m-input-radio/m-input-radio'
@require './../../includes/mixins/form-elements/m-textarea/m-textarea'
@require './../../includes/mixins/m-step-list/m-step-list'

@require './../../includes/modules/header/header'
@require './../../includes/modules/header/menu/nav-list'
@require './../../includes/modules/select/select'

@require './../../includes/modules/first-section/first-section'
@require './../../includes/modules/barf-section/barf-section'
@require './../../includes/modules/diet-list/diet-list'
@require './../../includes/modules/food-section/food-section'
@require './../../includes/modules/food-list/food-list'
@require './../../includes/modules/banner/banner'
@require './../../includes/modules/whyzoo-section/whyzoo-section'
@require './../../includes/modules/getzoo-section/getzoo-section'
@require './../../includes/modules/lovezoo-section/lovezoo-section'
@require './../../includes/modules/faq-section/faq-section'
@require './../../includes/modules/contact-section/contact-section'
@require './../../includes/modules/form-contact/form-contact'

@require './../../includes/modules/popups/popups'
@require './../../includes/modules/popups/calculation-popup/calculation-popup'
@require './../../includes/modules/form-calculation/form-calculation'
@require './../../includes/modules/popups/order-popup/order-popup'
@require './../../includes/modules/counter/counter'
@require './../../includes/modules/popups/specification-popup/specification-popup'
@require './../../includes/modules/popups/thanks-order-popup/thanks-order-popup'
@require './../../includes/modules/popups/thanks-contact-popup/thanks-contact-popup'

@require './../../includes/modules/footer/footer'

@require './../../includes/modules/animate'