section.section-full.section-full__food
    .box-center
        .section-full__food-header.js-scroll
            h2 Рационы ZOOOV
            .section-full__food-desc Система питания взрослой собаки не подойдет для щенка, поэтому мы создали разные по составу рационы ZOOOV. Вы сможете заказать полноценное питание исходя из возраста, веса и даже вкусовых предпочтений вашего друга. ZOOOV  заботится о каждой собаке.
        include ./../food-list/food-list
        include ./../banner/banner