.section-full
    &__food
        .btn
            width 160px

        .box-center
            padding-bottom 80px

            @media(max-width 1023px)
                padding-right 0

        &-header
            padding-top 120px
            width 100%
            display flex
            justify-content space-between
            align-items center

            @media(max-width 1023px)
                width calc(100% - 40px)

            @media(max-width 767px)
                padding-top 16px
                width calc(100% - 20px)

            h2
                margin-right 100px
                white-space nowrap

        &-desc
            color $menu-link

            @media(max-width 950px)
                display none
