
//item
-
    let foodItems = [
        {
            img: 'img/food-list-1.jpg',
            imgAlt: 'Для взрослых собак',
            title: 'Для взрослых собак',
            desc: 'Индейка/Говядина',
            content: 'Подходит для ежедвеного кормления взрослых собак. Богат животными белками и Омега-3.',
            compound: '<strong>Состав:</strong> Мякоть баранины (46,5%), мясо кролика (23,5%), кости кролика (10%), печень баранины (5%), рубец бараний (2,5%), кабачок (3%), брокколи (3%), семена конопли (2%), шпинат (1%), яблоко (1%), льняное масло, конопляное масло.',
            value: '<p><strong>Пищевая ценность на 100г:</strong>  174.9 ккал, белки 16.45, жиры 11.9, углеводы 0.60</p>',
            weight: '700г / 500г / 300г / 150г / 100г',
        },
        {
            img: 'img/food-list-2.jpg',
            imgAlt: 'Для щенков',
            title: 'Для щенков',
            desc: 'Индейка/Говядина',
            content: 'Подходит для ежедвеного кормления щенков. Богат животными белками и Омега-3.',
            compound: '<strong>Состав:</strong> Мякоть баранины (26,5%), мясо кролика (20,5%), кости кролика (12%), печень баранины (7%), рубец бараний (2%), кабачок (2%), брокколи (2%), семена конопли (4%), шпинат (2%), яблоко (3%), льняное масло, конопляное масло.',
            value: '<p><strong>Пищевая ценность на 100г:</strong>  194.9 ккал, белки 12.45, жиры 17.9, углеводы 1.60</p>',
            weight: '500г / 300г / 100г',
        },
        {
            img: 'img/food-list-3.jpg',
            imgAlt: 'Для взрослых собак',
            title: 'Для взрослых собак',
            desc: 'Баранина/Кролик',
            content: 'Подходит для ежедвеного кормления взрослых собак. Богат животными белками и Омега-3.',
            compound: '<strong>Состав:</strong> Мякоть баранины (46,5%), мясо кролика (23,5%), кости кролика (10%), печень баранины (5%), рубец бараний (2,5%), кабачок (3%), брокколи (3%), семена конопли (2%), шпинат (1%), яблоко (1%), льняное масло, конопляное масло.',
            value: '<p><strong>Пищевая ценность на 100г:</strong>  174.9 ккал, белки 16.45, жиры 11.9, углеводы 0.60</p>',
            weight: '700г / 500г / 150г',
        },
        {
            img: 'img/food-list-4.jpg',
            imgAlt: 'Для щенков',
            title: 'Для щенков',
            desc: 'Баранина/Кролик',
            content: 'Подходит для ежедвеного кормления щенков. Богат животными белками и Омега-3.',
            compound: '<strong>Состав:</strong> Мякоть баранины (46,5%), мясо кролика (23,5%), кости кролика (10%), печень баранины (5%), рубец бараний (2,5%), кабачок (3%), брокколи (3%), семена конопли (2%), шпинат (1%), яблоко (1%), льняное масло, конопляное масло.',
            value: '<p><strong>Пищевая ценность на 100г:</strong>  174.9 ккал, белки 16.45, жиры 11.9, углеводы 0.60</p>',
            weight: '500г / 300г / 100г',
        }
    ]




//button params
-
    let btnOrder = {
        type: 'link',
        className: 'btn btn--white btn--order',
        fieldName:'order',
        btnUrl: "##",
        label: 'Заказать'
    }