-
    let whyzoo = [
        {
            icn: './img/svg/icn-leaf.svg',
            icnAlt: 'Натуральный',
            title: 'Натурально',
            desc: 'Все продукты тщательно отбираем у проверенных поставщиков.',
        },
        {
            icn: './img/svg/icn-heart.svg',
            icnAlst: 'Здоровый',
            title: 'Здорово',
            desc: 'Система питания, которая продлевает жизнь вашего хвостика.',
        },
        {
            icn: './img/svg/icn-rocket.svg',
            icnAlst: 'Быстрый',
            title: 'Быстро',
            desc: 'Сделайте заказ на сайте и с вами свяжется  наш менеджер для уточнения деталей.',
        },
        {
            icn: './img/svg/icn-smiley.svg',
            icnAlst: 'Удобный',
            title: 'Удобно',
            desc: 'Достаточно разморозить порцию ZOOOV,  удалить отрывную крышку с лотка и обед для вашего питомца готов.',
        },
    ]