.section-full
    &__whyzoo
        background url(../img/svg/bg-vector-red.svg) no-repeat center
        background-size contain

        @media(max-width 1023px)
            background url(../img/svg/bg-vector-red.svg) no-repeat left 100px, url(../img/svg/bg-vector-red.svg) no-repeat right bottom
            background-size auto 200px

        @media(max-width 767px)
            background url(../img/svg/bg-vector-red.svg) no-repeat right 0
            background-size auto 150px

        @media(max-width 550px)
            background url(../img/svg/bg-vector-red.svg) no-repeat right 50px
            background-size auto 150px

        .box-center
            padding-top 100px
            padding-bottom 100px

            @media(max-width 1023px)
                padding-top 80px
                padding-bottom 40px

            @media(max-width 767px)
                padding-top 0

        .step-list
            @media(max-width 767px)
                background url(../img/svg/bg-vector-red.svg) no-repeat right bottom
                background-size auto 150px

            @media(max-width 550px)
                background url(../img/svg/bg-vector-red.svg) no-repeat right 450px
                background-size auto 150px