include var-whyzoo-section
include ./../../mixins/m-step-list/m-step-list


section.section-full.section-full__whyzoo.js-scroll
    .box-center
        h2 Почему ZOOOV
        +stepList(whyzoo)