-
    let faq = [
        {
            title: 'Не опасны ли бактерии, которые находятся в сыром мясе?',
            text: 'У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион BARF как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся на улице или даже в вашем доме.',
            active: true
        },
        {
            title: 'Надо ли давать дополнительно витамины к рациону BARF?',
            text: 'У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион BARF как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся на улице или даже в вашем доме.'
        },
        {
            title: 'А если моя собака уже давно питается промышленным кормом и у нее нет проблем со здоровьем?',
            text: 'У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион BARF как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся на улице или даже в вашем доме.'
        },
        {
            title: 'Можно ли смешивать натуральный корм и корм промышленного производства?',
            text: 'У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион BARF как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся на улице или даже в вашем доме.'
        },
        {
            title: 'Могу ли я сам составить для своей собаки рацион по системе BARF?',
            text: 'У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион BARF как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся на улице или даже в вашем доме.'
        },
        {
            title: 'Присутствует ли в ZOOOV рационах рыба?',
            text: 'У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион BARF как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся на улице или даже в вашем доме.'
        },
        {
            title: 'Как перевести питомца на натуральное питание?',
            text: 'У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион BARF как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся на улице или даже в вашем доме.'
        },
        {
            title: 'Как готовить рацион ZOOOV?',
            text: 'У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион BARF как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся на улице или даже в вашем доме.'
        },
        {
            title: 'При переходе на рацион ZOOOV у собаки начались проблемы с ЖКТ. Это нормально?',
            text: 'У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион BARF как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся на улице или даже в вашем доме.'
        },
    ]