$white = #fff

$grey = #F4F5F5
$darck-grey = #434242
$grey-lighter = #e5e5e5
$grey-light = #9F9E9D
$grey-superlight = #c4c4c4

$black = #000

$red = #961914
$red-lighter = #EC7973
$red-light = #EAD1D0
$red-super-light = #FFF4F3
$red-darkest = #75110D
$red-dark = #69120E


//text colors
$primary-color = $darck-grey
$secondary-color = $white

$secondary-desc-color = $grey-light

$menu-link = $black
$menu-link-secondary = $white


//title colors
$primary-title = $black
$secondary-title = $white
$popup-title = $red


// form colors
$forms-title = $red
$form-btn-color = $red-lighter
$fields-primary-bg = $white


//bg colors
$primary-bg = $red-light
$primary-bg-lignt = $red-super-light
$secondary-bg = $red
$footer-bg = $red-dark
$popup-bg = $white
$dark-bg = $black



//btn colors and bg
$btn-primary-color = $white
$btn-secondary-color = $red

$btn-primary-bg = $red
$btn-primary-hover-bg = $red-darkest

$btn-secondary-bg = $white
$btn-secondary-hover-bg = $red-light


//other
$marker-list-bg = $red
$burger-lines-bg = $white
$menu-mobile-bg = $white
$footer-bg = $red-dark
$arrow-dashed-grad = $red-light
$faq-border-color = $grey-lighter